body {
    margin: 0;
    padding: 0;
    background: url('media/bg-blur.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Inter;
    text-align: center;
}
.container {
    max-width: 750px;
    margin: 20px auto;
    background: rgb(222, 223, 201);
    padding: 20px;
    border-radius: 12px;
    border-color:#8b631a;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
    color:rgb(26, 26, 32);
    width: 75%;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.button-group button {
    padding: 10px 20px;
    border: none;
    background: #be953c;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-family: Inter;
}
.button-group button:hover {background: #8b631a;}
.btn {
display: inline-block;
padding: 10px 20px;
background: #be953c;
color: white;
text-decoration: none;
border-radius: 8px;
font-size: 16px;
transition: 0.2s;
}
.btn:hover {background: #8b631a;}